<%- include header %>
<link rel="stylesheet" type="text/css" href="/themes/<%= settings.theme%>/stylesheets/lightbox.css" />
<script type="text/javascript" src="/themes/<%= settings.theme%>/javascripts/lightbox.min.js"></script>
<script language="JavaScript">
    window.onload = function(){
        $('a').each(function(){
            if($(this).find('img').size()!=0){
                $(this).attr('data-lightbox','<%= post.pinyin%>');
                $(this).attr('data-title','<%= post.title%>');
            }
        });
    }

    function comment() {
        if ($('#name').val() == ''){
            alert('壮士，请留下姓名！');
        }else if($('#content').val() == ''){
            alert('你到底想说什么？');
        }else{
            $.post('../../comment/<%= post.pinyin%>',$('#comment-form').serialize(),function(data) {
                if(data=='noname') {
                    alert('');
                }else if(data=='nocontent') {
                    alert('');
                }else if(data){
                    alert('评论成功！');
                    location.reload();
                }
            })
        }
    }

</script>
<div class="site-wrapper">

    <div class="site-wrapper-inner" style="display:block;">

        <div class="cover-container">
            <!-- 导航开始 -->
            <%- include menu %>
            <!-- 导航结束 -->
            <div class="container-fluid" style="text-align:left">
                <br>

                <div class="row">
                    <div class="col-sm-9">
                        <h2 class="blog-post-title"><%= post.title %></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 blog-main">
                        <p class="blog-post-meta">
                            <small>
                                <span class="glyphicon glyphicon-time"></span> 发布于 <%= post.time.minute %>
                                <% post.tags.forEach(function (tag, index) { %>
                                <% if (index == 0 && tag != ''){ %>
                                &nbsp;&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-tags"></span>&nbsp;
                                <% } %>
                                <% if (index != post.tags.length - 1){ %>
                                <a href="/blog/tags/<%= tag %>"><%= tag %></a> ,
                                <% }else{ %>
                                <a href="/blog/tags/<%= tag %>"><%= tag %></a>
                                <% } %>
                                <% }) %>
                                &nbsp;&nbsp;&nbsp;
                                <a href="" target="_blank" id="shareBtn"><span class="glyphicon glyphicon-share"></span>&nbsp;转发到微博</a>
                                <script language="JavaScript">
                                    /* weiboShare */
                                    function weiboShare(){
                                        var wb_shareBtn = document.getElementById("shareBtn")
                                        wb_url = document.URL, //获取当前页面地址，也可自定义
                                                wb_appkey = "",
                                                wb_title = "【<%= settings.blogname%>】 " + document.title + '（采用jlBox搭建博客）',
                                                wb_ralateUid = "",
                                                wb_pic = "",
                                                wb_language = "zh_cn";

                                        wb_shareBtn.setAttribute("href","http://service.weibo.com/share/share.php?url="+wb_url+"&searchPic=true&appkey="+wb_appkey+"&title="+wb_title+"&ralateUid="+wb_ralateUid+"&language="+wb_language+"");
                                    }
                                    weiboShare()
                                </script>
                                <% if(user) { %>
                                &nbsp;&nbsp;&nbsp;&nbsp;<a
                                        href="/blog/edit/<%= post._id %>"><span class="glyphicon glyphicon-edit"></span>&nbsp;编辑文章</a>
                                <% } %>
                            </small>
                        </p>
                        <div class="blog-post" style="font-size:13px;color:#aaa;">
                            <%- post.post %>
                        </div>
                        <br>
                        <div class="clearfix"></div>
                        <div class="blog-comment">
                            <form id="comment-form" role="form" method="post" action="/comment/<%= post.pinyin%>">
                                <hr style="border-top:1px solid #444">
                                <div class="form-group">
                                    <label for="name"><i class="glyphicon glyphicon-comment"></i>&nbsp;&nbsp;评论：</label>
                                    <div class="col-sm-13">
                                        <input type="text" class="form-control comment-box" id="name" name="name" placeholder="昵称"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-13">
                                        <textarea class="form-control comment-box" id="content" name="content" rows="5" placeholder="留言仅支持纯文本..."></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="button" class="visible-md visible-lg comment-save btn btn-primary pull-right" onclick="comment();notempty();" value="发 表"/>
                                    <input type="submit" class="visible-sm visible-xs btn btn-primary pull-right" value="发 表"/>
                                </div>
                            </form>
                            <div class="clearfix"></div>
                            <%post.comments.forEach(function(comment,index){%>
                            <div class="media">
                                <span class="media-object comment-icon pull-left"><%-: comment.name|truncate:1 %></span>
                                <div class="media-body">
                                    <h4 class="media-heading"><%=comment.name%> ：<span class="comment-time pull-right"><%= comment.time%></span></h4>
                                    <p class="comment-content"><%= comment.content%></p>
                                </div>
                            </div>
                            <%})%>
                        </div>
                    </div>
                    <div class="col-sm-2 pull-right" style="padding-left: 30px;">
                        <p><a href="javascript:history.go(-1);">&laquo;返回</a></p>

                        <div class="hidden-xs">
                            <div class="sidebar-module">
                                <h4><%= author.name %></h4>
                                <ol class="list-unstyled">
                                    <% if (author.weibo) { %>
                                    <li><a href="<%= author.weibo %>" target="_blank">Weibo</a></li>
                                    <% } %>
                                    <% if (author.github) { %>
                                    <li><a href="#">Github</a></li>
                                    <% } %>
                                    <% if (author.email) { %>
                                    <li><a href="mailto:<%= author.email %>">E-mail</a></li>
                                    <% } %>
                                </ol>
                            </div>
                            <div class="sidebar-module">
                                <h4>文章归档</h4>
                                <ol class="list-unstyled">
                                    <% archiveTimes.forEach(function (archiveTime, index) { %>
                                    <li><a href="/blog/archives/<%= archiveTime %>/"><%= archiveTime %></a></li>
                                    <% }) %>
                                </ol>
                            </div>
                            <div class="sidebar-module">
                                <h4>文章标签</h4>
                                <ol class="list-unstyled">
                                    <% tags.forEach(function (atag, index) { %>
                                    <li><a href="/blog/tags/<%= atag %>/"><%= atag %></a></li>
                                    <% }) %>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /.blog-sidebar -->
<%- include footer %>