<%- include header %>
<style type="text/css">
  .mastfoot{position: fixed;text-align: center;bottom: 0;}
</style>
<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">
      <!-- 导航开始 -->
        <%- include menu %>
      <!-- 导航结束 -->
      <div class="inner cover">
        <h1 style="font-size:500%">{ }</h1>
        <h1 class="cover-heading"><%= settings.subtitle%></h1>
        <p class="lead intro"><%= settings.intro%></p>

      </div>
     

<%- include footer %>
