<%- include header %>
<div class="site-wrapper">

  <div class="site-wrapper-inner" style="display:block;">

    <div class="cover-container">
      <!-- 导航开始 -->
        <%- include menu %>
      <!-- 导航结束 -->
      <div class="container-fluid" style="text-align:left">
      <br>
        <div class="row">
        <div class="col-sm-9">
        <h6><%= tag%> 标签下的文章：</h6>
        <hr style="border-top:1px solid #444">
        <% posts.forEach(function (post, index) { %>
          <a href="/blog/post/<%= post.pinyin%>"><h4><%= post.title%></h4></a>
          <p class="blog-post-meta" style="font-size:10px">
            <span class="glyphicon glyphicon-time"></span> 发布于 <%= post.time.minute%>
             <% post.tags.forEach(function (tag, index) {%>
              <% if (index == 0&& tag != ''){%>
                  &nbsp;&nbsp;&nbsp;
                 <span class="glyphicon glyphicon-tags"></span>&nbsp;
              <% }%>
              <% if (index != post.tags.length-1){%>
                <a href="/blog/tags/<%= tag%>"><%= tag%></a> , 
              <% }else{ %>
                 <a href="/blog/tags/<%= tag%>"><%= tag%></a>
              <% }%>
             <% })%>
          </p>
          <div class="blog-content"><%-: post.textpost|truncate:340 %>...</div>
          <small><a href="/blog/post/<%= post.pinyin%>">展开阅读 &raquo;</a></small>
          
          <hr style="border-top:1px solid #444">
        <% })%>
          <p>
            <% if (!isFirst){%>
              <a href="/blog/tags/<%= tag%>/<%= page-1 %>">&laquo;上一页</a>
            <% }%>
            <% if (!isLast){%>
              <a href="/blog/tags/<%= tag%>/<%= page+1 %>">下一页 &raquo;</a>
            <% }%>
          </p>
        </div>
        <div class="col-sm-2 col-sm-offset-1 pull-right hidden-xs">
            <div class="sidebar-module">
                <h4>文章归档</h4>
                <ol class="list-unstyled">
                    <%  archiveTimes.forEach(function (archiveTime, index) { %>
                    <li><a href="/blog/archives/<%= archiveTime%>/"><%= archiveTime%></a></li>
                    <% }) %>
                </ol>
            </div>
            <div class="sidebar-module">
                <h4>文章标签</h4>
                <ol class="list-unstyled">
                    <%  tags.forEach(function (atag, index) { %>
                    <li><a href="/blog/tags/<%= atag%>/"><%= atag%></a></li>
                    <% }) %>
                </ol>
            </div>
      </div><!-- /.blog-sidebar -->
    
<%- include footer %>